body{
  background: url("library.jpg");
  height: 100%
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.availablebox{
	width:  400px;
	height: 400px;
	top:50%;
	left:50%;
	background:black;
	color:white;
	position:absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding:50px,50px;
}

.availablebox input{
	width:30%%;
	margin-bottom:20px;
}
.availablebox input[type="submit"]
{
	border:none;
	outline:none;
	height:40px;
	background:green;
	color:white;
	font-size:18px;
}

table{
   overflow-y:scroll;
   width: 100%;
   display:block;
}
th {
  text-align:left;
  height: 105px;
}
td{
	height: 105px;
}