body{
	background:#d1ccc0;
	height:100%;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	overflow-x:hidden;

}

*{
  font-family: sans-serif;
}

.issue{
	position:relative;
	top:70px;
	left:5%;
	width:600px;
	height:400px;
	background-color:#c7ecee;
	overflow-y:auto;
}

.issueinfo{
	border-collapse:collapse;
	margin:25px 0;
	font-size:0.9em;
	min-height:100px;
	width:550px;
	border-radius:5px 5px 0 0;
	box-shadow:0 0 20px rgba(0,0,0,0.15);
}
.issueinfo thead tr{
	background-color:#009879;
	color:#ffffff;
	text-align:left;
	font-weight:bold;
}
.issueinfo th,td{
	padding:12px 15px;
}
.issueinfo tbody tr{
	border-bottom:1px solid #dddddd;
}
.issueinfo tbody tr:nth-of-type(even){
	background:#f3f3f3;
}
.issueinfo tbody tr:last-of-type{
	border-bottom:2px solid #009879;
}


.return{
	position:relative;
	bottom:440px;
	left:52%;
	width:600px;
	height:400px;
	background-color:#c7ecee;
	overflow-y:auto;
}

.returninfo{
	border-collapse:collapse;
	margin:25px 0;
	font-size:0.9em;
	min-height:100px;
	width:550px;
	border-radius:5px 5px 0 0;
	box-shadow:0 0 20px rgba(0,0,0,0.15);
}
.returninfo thead tr{
	background-color:#009879;
	color:#ffffff;
	text-align:left;
	font-weight:bold;
}
.returninfo th,td{
	padding:12px 15px;
}
.returninfo tbody tr{
	border-bottom:1px solid #dddddd;
}
.returninfo tbody tr:nth-of-type(even){
	background:#f3f3f3;
}
.returninfo tbody tr:last-of-type{
	border-bottom:2px solid #009879;
}



table{
	position:relative;
	top:0px;
	left:16px;
}
.home{
	position:relative;
	top:70px;
	left:42%;
	height:35px;
	width:10%;
}

.home{
	background:url("house.png");
	font-weight:bold;
	text-align:left;
	background-position:right;
	background-size: 35px 35px;
	background-repeat:no-repeat;
	font-size:20px;
	background-color:#c7ecee;
	border-color:#c7ecee;
}
p{
 color:black;
 font-size:35px;
 font-weight:bold;
 position:left;
}
.name1{

	position:relative;
	top:100px;
	left:18%;
}
.name2{

	position:relative;
	bottom:410px;
	left:64%;
}
.hbtn{

	position:relative;
	bottom:460px;
	right:0%;
	left:4%;

}